# Server
PORT=8000
NODE_ENV=development

# Database (PostgreSQL)
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=test_name
DB_PASSWORD=test_db_password
DB_DATABASE=test_db

# TypeORM Sync (개발 환경에서만 true로 설정)
DB_SYNC=true
DB_DROP=true

JWT_ACCESS_SECRET=jwt-access-test-key
JWT_REFRESH_SECRET=jwt-refresh-test-key

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=test_redis_password
REDIS_TTL=600